nav{
    background-color: rgb(141, 141, 141);
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 24px;
    align-items: center;
}

#logo{
    width: 200px;
    height: auto;
    margin-left: 24px;
}

ul{
    display: flex;
    list-style: none;
    gap: 24px;
    margin-right: 24px;
    font-size: 24px;
    color: white;
}

li{
    padding: 8px;
}

li:hover{
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 8px;
}